<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" data="themecss" href="style/themeLight.css">
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <title> <%-title %>  </title>
</head>

<body>
  <h3>
        <ul>
            <li><a href="/app">home</a></li>
            <li><a href="/app/contac">contac</a></li>
            <li><a href="/app/produc/kain?jenis=topi">produc kain</a></li>
        </ul>
    </h3>

    <!-- include body  -->
   <%- body %> 

   
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="js/chart.js"></script>
    <!-- main.js -->
    <script src="js/main.js"></script>



</body>

</html>