

   <center> <h1>contac app</h1></center>


    
    <div class="countainer">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-apple"></ion-icon>
                        </span>
                        <span class="title">bran name</span>
                    </a>
                </li>
                <lo>
                    <a href="#">
                        <label for="themebtn">
                            <span class="icon">
                                <input type="checkbox" name="" id="themebtn">
                            </span>
                            <span class="title">Theme</span>
                        </label>
                    </a>
                </lo>
                <li class="hovered">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">dasboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">Customare</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Mesage</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Setting</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign out</span>
                    </a>
                </li>

            </ul>
        </div>


        <!-- main -->
        <div class="main">
            <!-- menu -->
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <!-- search -->
                <div class="search">
                    <label for="">
                        <input type="text" name="" id="" placeholder="cari disini">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <!-- user img -->
                <div class="user">
                    <img src="img/user.png" alt="">
                </div>
            </div>


            <!-- card -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">1,507</div>
                        <div class="cardName">Daily Views</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">sales</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">234</div>
                        <div class="cardName">Coments</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">$50,333</div>
                        <div class="cardName">Earning</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- grafik -->
            <div class="grapBox">
                <div class="box">
                    <canvas id="canvas" width="400" height="350"></canvas>
                </div>
            </div>


            <!-- data list -->
            <div class="details">
                <!-- order list -->
                <div class="RencentOrder">
                    <div class="cardHeader">
                        <h2>Rencent Order</h2>
                        <a href="/app/tambahData" class="btn">tambah data</a>
                    </div>
                  <% if (pesan.length!==0) { %>
                    <div class="pesan" style="background-color: aqua;">
                        <p style="text-align: center; line-height: 30px; font-weight: 600;"><%= pesan %></p>
                    </div>
                   
                  <% } %>
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Payment</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (contac.length>0) { %>
                              <% contac.forEach(con => { %>
                                  <tr>
                                <td><%= con.nama %> </td>
                                <td>Price</td>
                                <td><%= con.nohp %></td>
                                <td>
                                    <a href="/app/contac/delete/<%= con.id %> " >
                                        <span class="status deliverd"> delete</span>
                                    </a> 
                                </td>
                            </tr>
                              <% }) %>
                              
                            <% } else {%>
                              <tr >
                                 <td colspan="4"> <CEnter><h2>sory no data found</h2></CEnter> </td>
                              </tr>
                              <% } %> 
                        </tbody>
                    </table>
                </div>

                <!-- customer -->
                <div class="RencentCustomers">
                    <div class="cardHeader">
                        <h2>Rencent Customers</h2>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <div class="imgBx">
                                    <img src="img/jamal.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>jamal <br><span>Italy</span> </h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx">
                                    <img src="img/jamal.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>jamal <br><span>Italy</span> </h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx">
                                    <img src="img/jamal.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>jamal <br><span>Italy</span> </h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx">
                                    <img src="img/jamal.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>jamal <br><span>Italy</span> </h4>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

    </div>
