

    
    <div class="countainer">

        <!-- main -->
        <div class="main">
            <!-- menu -->
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <!-- search -->
                <div class="search">
                    <label for="">
                        <input type="text" name="" id="" placeholder="cari disini">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <!-- user img -->
                <div class="user">
                    <img src="img/user.png" alt="">
                </div>
            </div>


            <!-- card -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">1,507</div>
                        <div class="cardName">Daily Views</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">sales</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">234</div>
                        <div class="cardName">Coments</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">$50,333</div>
                        <div class="cardName">Earning</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- grafik -->
            <div class="grapBox">
                <div class="box">
                    <canvas id="canvas" width="400" height="350"></canvas>
                </div>
            </div>


            <!-- data list -->
            <div class="details">
                <!-- order list -->
                <div class="RencentOrder">
                    <div class="cardHeader">
                        <h2>Rencent Order</h2>
                    </div>
                    <form action="/app/tambahData" method="post">
                        <table>
                            <tbody>
                                <tr>
                                    <td> nama</td>
                                    <td> <input type="text" name="nama" placeholder="masukan nama" required> </td>
                                </tr>
                                <tr>
                                    <td> no hp</td>
                                    <td><input type="number" name="nohp" placeholder="masukan no hp" required> </td>
                                </tr>
                                <tr> 
                                    <td colspan="2">
                                       <center>
                                            <button type="submit">tambah data</button>
                                       </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                </div>

                <!-- customer -->
                <div class="RencentCustomers">
                    <div class="cardHeader">
                        <h2>Rencent Customers</h2>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <div class="imgBx">
                                    <img src="img/jamal.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>jamal <br><span>Italy</span> </h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx">
                                    <img src="img/jamal.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>jamal <br><span>Italy</span> </h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx">
                                    <img src="img/jamal.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>jamal <br><span>Italy</span> </h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx">
                                    <img src="img/jamal.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>jamal <br><span>Italy</span> </h4>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

    </div>
